{% extends 'main/base.html' %}

{% block title %} About Us {% endblock %}

{% block content %}
<div class="mx-auto w-full md:w-4/5 lg:w-3/4 p-8 bg-gray-800 bg-opacity-80 text-white rounded-xl shadow-2xl border border-gray-700">
    <div class="m-5">
        <h1 class="text-4xl font-bold mb-6 border-b-2 border-orange-500 inline-block pb-1">
            About Us - Sabbai Ko Kitchen
        </h1>
        <p class="text-lg mb-6">
            Welcome to Sabbai Ko Kitchen, your ultimate destination for culinary inspiration and delightful recipes! Founded by two food enthusiasts, **Binit Magar** and **Satish Shrestha**, Sabbai Ko Kitchen is more than just a recipe website; it's a labor of love dedicated to the art of cooking and the joy of sharing delicious meals.
        </p>
        
        <hr class="my-6 border-gray-700">

        <h2 class="text-2xl font-bold text-orange-400 mb-2">Meet Binit Magar:</h2>
        <p class="mb-6 text-gray-200">
            Binit's passion for cooking was ignited by his grandmother's traditional recipes, passed down through generations. He's the creative force behind our unique recipes, always experimenting with flavors and techniques to bring you fresh, exciting dishes that will tickle your taste buds.
        </p>

        <h2 class="text-2xl font-bold text-orange-400 mb-2">Meet Satish Shrestha:</h2>
        <p class="mb-6 text-gray-200">
            Satish is the tech-savvy wizard who ensures that Sabbai Ko Kitchen runs smoothly, making it easy for you to access our culinary treasures. His love for food and technology converges on this platform, where he's committed to creating a user-friendly experience for everyone.
        </p>
        
        <hr class="my-6 border-gray-700">

        <p class="text-lg mb-4">
            Together, Binit and Satish have embarked on a flavorful journey to explore the world of food, from mouthwatering international cuisines to comforting home-cooked meals. Sabbai Ko Kitchen is where they merge their expertise and passion to help you discover the joy of cooking and the happiness that sharing a good meal can bring.
        </p>
        <p class="text-lg mb-4">
            At Sabbai Ko Kitchen, you'll find a diverse collection of recipes, cooking tips, and food stories that reflect our shared love for the culinary arts. Whether you're a seasoned chef or a kitchen newbie, our aim is to inspire, educate, and empower you to create memorable meals for your loved ones.
        </p>
        <p class="text-xl font-semibold text-teal-400">
            Join us on this gastronomic adventure, and let's savor the flavors of life together at Sabbai Ko Kitchen. Get ready to turn your kitchen into a hub of creativity and taste, one recipe at a time!
        </p>
    </div>
</div>
{% endblock %}